<h1>Create a Dose</h1>

<div class="container">
  <div class="row">
    <div class="col-4">
      <%= simple_form_for [ @cocktail, @dose ] do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient, collection: Ingredient.all %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
      <%= link_to "Finish", cocktail_path(@cocktail) %>
    </div>
  </div>
</div>
